version: "3"

services:
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#
#                     C O D E I G N I T E R  v4.1.5                        #
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#
    codeigniter4:
#        image: atsanna/codeigniter4:latest
#        image: atsanna/codeigniter4:v4.1.5-php7.4
#        image: atsanna/codeigniter4:v4.1.5-php8.0
        build: ./
        container_name: 'codeigniter4'
        ports:
          - 80:80
        links:
          - codeigniter4_mysql
        volumes:
          - shared-content:/var/www/html/codeigniter4
         # - ./localfolder/www:/var/www/
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#
#                            J E N K I N S                                 #
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#             
    codeigniter4_jenkins:
      image: jenkins/jenkins:lts
      privileged: true
      user: root
      links:
          - codeigniter4_mysql
      ports:
        - 8083:8080
        - 50003:50000
      container_name: my-jenkins-3
      volumes:
        - shared-content:/var/jenkins_home/workspace/codeigniter4
        - ./localfolder/jenkins_data:/var/jenkins_home
        - ./localfolder/docker.sock:/var/run/docker.sock
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#
#                               M Y S Q L                                  #
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#               
    codeigniter4_mysql:
        image: mariadb:10.5.5
        container_name: 'codeigniter4_mysql'
        ports:
          - 3306:3306
        volumes:
          - ./localfolder/mysql:/var/lib/mysql
          - ./localfolder/logs/mysql:/var/log/mysql
        environment:
          MYSQL_ROOT_PASSWORD: rootpassword
          MYSQL_DATABASE: db_consig
          MYSQL_USER: codeigniter4
          MYSQL_PASSWORD: codeigniter4
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#
#                         P H P M Y A D M I N                              #
#--------------------------------------------------------------------------#
#--------------------------------------------------------------------------#             
    codeigniter4_phpmyadmin:
        image: phpmyadmin/phpmyadmin:5.0.2
        container_name: 'codeigniter4_phpmyadmin'
        links:
          - codeigniter4_mysql
        environment:
          PMA_HOST: codeigniter4_mysql
          PMA_PORT: 3306
        ports:
          - 81:80
        volumes:
          - ./localfolder/sessions:/sessions
volumes:
  shared-content: